.list-group
  a.list-group-item.list-group-item-action(href='/admin/' aria-current='true')
    i.bi.bi-speedometer2  Dashboard
  a.list-group-item.list-group-item-action(href='/admin/pages')
    i.bi.bi-file  Pages
  a.list-group-item.list-group-item-action(href='/admin/posts/')
    i.bi.bi-file  Posts
  a.list-group-item.list-group-item-action(href='#') A fourth link item
  a.list-group-item.list-group-item-action.disabled(href='#' aria-disabled='true') A disabled link item
