extends ../common/layout

block content
    h1 Add a order
    form(action="/admin/orders", method="post" enctype="multipart/form-data") 
        .row
            .col-md-6
              
                .mb-3
                    label(for="product") Product
                    input#product.form-control(type="text", name="product")
                .mb-3
                    label(for="userid") User Id
                    input#userid.form-control(type="text", name="userid")
                .mb-3
                    label(for="image") Image
                    input#image.form-control(type="file", name="image")
            .col-md-6
                
                .mb-3
                    label(for="productid") Product Id
                    input#productid.form-control(type="text", name="productid")
                .mb-3
                    label(for="quantity") Quantity
                    input#quantity.form-control(type="number", name="quantity" min="0")
                
               
        input.btn.btn-success(type="submit", value="Submit Now")