extends ../common/layout

block content
    .row
        .col
            h1 Admin Users Area
        .col.text-end
            a.btn.btn-primary(href='/admin/users/create') Add A User
    table.table
        thead
            tr
                th username
                th name 
                th email
                th mobile
                th actions
        tbody
            each user in users
                tr
                    td=user.username
                    td=user.name
                    td=user.email
                    td=user.mobile
                    td
                        .btn-group
                            a.btn.btn-info.p-3(href='/admin/users/'+user.id) Show
                            a.btn.btn-warning.p-3(href='/admin/users/'+user.id+'/edit') Edit
                            form.btn.btn-danger(action='/admin/users/'+user.id+'/delete?_method=delete', method="post") 
                                button.btn.btn-none(type='submit') Delete